body {
    margin: 0 auto;
  }
  
  .sidebar {
          grid-area: sidebar;
      }
  
      .sidebar2 {
          grid-area: sidebar2;
      }
  
      .content {
          grid-area: content;
          font-family: Arial, Helvetica, sans-serif;
      }
  
      .header {
          grid-area: header;
      }
  
      .footer {
          grid-area: footer;
      }
  
      .wrapper {
          background-color: #fff;
          color: #444;
      }
  
    .wrapper {
      display: grid;
      grid-gap: 1em;
      grid-template-areas:
       "header"
       "sidebar"
       "content"
       "sidebar2"
       "footer"
    }
  
      @media only screen and (min-width: 500px)  {
      .wrapper {
         
          grid-template-columns: 20% auto;
          grid-template-areas:
      "header   header"
          "sidebar  content"
          "sidebar2 sidebar2"
          "footer   footer";
      }
      }
  
      @media only screen and (min-width: 600px)   {
          .wrapper {
        grid-gap: 20px;
              grid-template-columns: 120px auto 120px;
              grid-template-areas:
        "header  header  header"
              "sidebar content sidebar2"
              "footer  footer  footer";
              max-width: 100%;
              grid-gap: .5em;
              
          }
      }
  
     
  
  .box {
    background-color: rgb(187, 12, 164);
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%; 
  }
  
  
  .header{
      background-color: bule;
      text-align: center;
      font-size: 2.5em;
      font-family: Arial, Helvetica, sans-serif;
  }
  
  .footer {
    background-color: rgb(25, 185, 119);
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
  }
  
  .footer  p {
  
      border-right: 3px solid #fff;
  }
  .footer p:nth-last-child(1){
      border-right: none;
  }
  
  .sidebar2, .sidebar {
     background-color: blue;
    color: #ffffff;
    
  }